[run]
omit = 
    eva/udfs/abstract/*
    eva/udfs/emotion_detector.py
    eva/experimental/*

[report]
exclude_lines =
    # pragma: no cover
    if TYPE_CHECKING:

    # Ray Execution
    if ray_enabled:
    class LogicalExchangeToPhysical(Rule):
    class LogicalExchange(Operator):

