name: eva_35
channels:
  - conda-forge
  - anaconda
  - defaults
dependencies:
  - python=3.7
  - numpy
  - opencv
  - scikit-learn
  - pandas
  - coveralls
  - coverage
  - pytest-cov
  - pycodestyle
  - torchvision
  - antlr-python-runtime=4.7.2=py37_1000
  - pip:
    - torch
prefix: eva_35
