pandas
scikit-learn
absl-py==0.5.0
astor==0.7.1
backports.weakref==1.0.post1
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
Markdown==3.0
mock==2.0.0
numpy==1.14.5
pbr==4.2.0
Pillow==5.2.0
pkg-resources==0.0.0
protobuf==3.6.1
PyYAML==3.13
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
Werkzeug==0.14.1
