# Syntax highlighting
Pygments==2.16.1

# Sphinx
sphinx>=4.4.0
sphinx-click==5.0.1
sphinx-copybutton==0.5.2
sphinxemoji==0.2.0
sphinx-jsonschema==1.19.1
sphinx-version-warning==1.1.2
sphinx-book-theme==1.0.1
sphinx-external-toc>=0.3.0
sphinx-inline-tabs
sphinx-thebe==0.2.1
sphinx-remove-toctrees==0.0.3
sphinx_design==0.5.0
sphinx_multiversion>=0.2.4
sphinxcontrib-redoc==1.6.0
sphinxcontrib-youtube==1.2.0
furo>=2022.4.7

setuptools>=41.0.1
docutils>=0.15
mock>=1.0.1
pillow>=9.0.1
readthedocs-sphinx-ext>1.1
autodoc_pydantic

# MyST
myst-parser
myst-nb

# Jupyter conversion
jupytext==1.15.2

# Pin urllib to avoid downstream issues
urllib3 < 2

# eva
git+https://github.com/georgia-tech-db/eva.git@master