name: Trigger Jenkins Job
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    name: Run Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Jenkins Job
          uses: joshlk/jenkins-githubaction@master
        with:
          url: "https://ada-00.cc.gatech.edu/jenkins"
          username: "gtdbuser"
          api_token: ${{ secrets.JENKINS_ACCESS_TOKEN }}
          job_name: "eva"
          wait: True
